@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya/Alegreya-Regular.ttf');
}
@font-face {
  font-family: 'Alegreya SC';
  src: url('./fonts/Alegreya_SC/AlegreyaSC-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-Regular.ttf');
}
